<app-menu></app-menu>
<div id="textArea">
    <h2>SOBRE NÓS</h2>

    <div id="firstCard">PROJETO CRIADO POR WALTER FILHO E GERALDO NETO COMO PROJETO FINAL DE PWEB1 2023.1<br><br>A IDEIA DO FIT-TRACKER É POSSIBILITAR E AUXILIAR O USUÁRIO À GERENCIAR SUAS ATIVIDADES FÍSICAS. O APLICATIVO PERMITE A ADIÇÃO, EDIÇÃO E REMOÇÃO DE ATIVIDADES FÍSICAS REALIZADAS PELO USUÁRIO, FAZENDO COM QUE O MESMO TENHA CONTROLE DE SUAS ATIVIDADES<br><br>
        GITHUB: <a href="https://github.com/eumesmo144">Geraldo Neto</a> e <a href="https://github.com/Tinhow">Walter Filho</a> </div>
</div>
    <app-rodape></app-rodape>

