<app-menu></app-menu>

  
    <div class="container" fxLayout="row" fxLayoutAlign="start stretch">

        <div class="a" fxFlex="60%">
          <img src="../../../assets/img/maratona.png" alt="Data illustrations by Storyset">
        </div>
        
      
        <div class="b" fxFlex="40%">
      
      
                <div id="textArea" fxFlex="100%">
                    <h2>SOBRE NÓS</h2>
 PROJETO CRIADO POR GERALDO NETO E WALTER FILHO COMO PROJETO FINAL DE PWEB1 2023.1. A IDEIA DO FIT-TRACKER É POSSIBILITAR E AUXILIAR O USUÁRIO À GERENCIAR SUAS ATIVIDADES FÍSICAS. O APLICATIVO PERMITE A ADIÇÃO, EDIÇÃO E REMOÇÃO DE ATIVIDADES FÍSICAS REALIZADAS PELO USUÁRIO, FAZENDO COM QUE O MESMO TENHA CONTROLE DE SUAS ATIVIDADES<br><br>
                        GITHUB: <a href="https://github.com/eumesmo144">Geraldo Neto</a> e <a href="https://github.com/Tinhow">Walter Filho</a>
                </div>

        </div>

      
      