#cnclbtn {
    margin-left: 45em;
}
div {
    background-color: #5f5858;
    color: #fff !important;
    align-items: center;
    font-size: 20px;

}
#title {
    color: #fff;
}
    #content {
    color: #fff;
}