.container {
  max-height: 100%;
  overflow: hidden;
}

.a{
  background-color: #3d3d3d;
  color: #fff;
}


.a img {
  max-width: 100%;
  height: auto;
}


.b{
  background-color: #402760;
}

.b {
  // justify-content: center;
  align-items: center;
}

.cadastro{
  display: flex;
  justify-content: center;
  height: 100%;

}

.bt{
  display: flex;
  justify-content: center;
  min-width: 100%;
  position: relative;
  bottom: 2rem;
}

.bt button{
  background-color: #000 ;
  width: 100px;
  height: 40px;
}

.bt button:hover{
  background-color: white;
  color: #000;
}

.tituloCadastro{
  display: flex;
  color: #fff;
  justify-content: center;
  position: relative;
  bottom: 20px;
}

.card-insercao-usuario{
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  gap: 1.5rem;
}

// .mat-form-simples{
//   width: 100%;
// }

.divLogo{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 4.5rem;
}

.nomeLogo .mat-mdc-card-title{
  font-size: 3.5rem;
}

.mat-mdc-card-title{
  font-size: 2rem;
}

.mat-form-simples {
  width: 60%;
  align-self: center;

}

.link{
  position: relative;
  margin-left: 18px;
  bottom: 1.5rem;
}


a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(109, 109, 109);
}

//tela com tamanho maximo de  1280px
@media (max-width: 1300px) {
  .imgUser {
    width: 9rem;
  }
  .a img{
    height: 100%;
  }

  .divLogo{
    bottom: 2rem;
  }
  .nomeLogo .mat-mdc-card-title{
    font-size: 2.5rem;
  }
  .a{
    height: 100vh;
  }
  .container{
    height: 100vh;
  }
}

//tela com tamanho maximo de  1360px
@media (min-width: 1360px) {

  .a img{
    height: 100%;
  }

  .divLogo{
    bottom: .1rem;
  }
  .nomeLogo .mat-mdc-card-title{
    font-size: 2.5rem;
  }

}
