.container {
  min-height: 100vh;
}

.a{
  background-color: white;
}


.a img {
  max-width: 100%;
  height: auto;
}

.b{
  background-color: #969FFC;
}

.b {
  justify-content: center;
  align-items: center;
}

.cadastro{
  display: flex;
  justify-content: center;
  height: 100vh;

}


.bt{
  display: flex;
  justify-content: center;
  min-width: 100%;
  position: relative;
  bottom: 70px;
}

.bt button{
  background-color: #000 ;
  width: 100px;
  height: 40px;
}

.bt button:hover{
  background-color: white;
  color: #000;
}

.tituloCadastro{
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 50px;
}

.card-insercao-usuario{
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  gap: 2rem;
}

.mat-form-simples{
  width: 100%;
  position: relative;
  bottom: 25px;
}

.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
}

.nomeLogo .mat-mdc-card-title{
  font-size: 3.5rem;
}

.mat-mdc-card-title{
  font-size: 2rem;
}


.link{
  position: relative;
  bottom: 60px;
  margin-left: 18px;
}


a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}
