.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.a{
  background-color: #3d3d3d;
}


.a img {
  width: 100%;
  height: 100%;
}

.b{
  background-color: #402760;
  color: #ffff;
  justify-content: center;
}


.login{
  display: flex;
  align-self: center;
  height: 100%;
  overflow: hidden;
}


.bt{
  display: flex;
  justify-content: center;
  min-width: 100%;
  position: relative;
  bottom: 3rem;

}

.bt button{
  background-color: #000 ;
  width: 100px;
  height: 40px;
}

.bt button:hover{
  background-color: rgb(255, 255, 255);
  color: #8d8d8d;
}

.tituloLogin{
  display: flex;
  justify-content: center;
}

.card-login-usuario{
  display: flex;
  width: 100% ;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

// .mat-form-simples{
//   width: 100%;
// }

.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 4.2rem;
}

.nomeLogo .mat-mdc-card-title{
  font-size: 3.5rem;
}

.mat-mdc-card-title{
  font-size: 2rem;
}

.imgUser {
  width: 9rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  object-fit: cover;
}

.imgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  display: flex;
  margin: 10px auto;
  position: relative;
  bottom: 1.5rem;

}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(155, 155, 155);
}

//tela com tamanho maximo de  1280px
@media (max-width: 1300px) {
  .imgUser {
    width: 9rem;
  }
  .a img{
    height: 100%;
  }

  .divLogo{
    bottom: 2rem;
  }
  .nomeLogo .mat-mdc-card-title{
    font-size: 2.5rem;
  }
  .a{
    height: 100vh;
  }
  .container{
    height: 100vh;
  }
}


snack-bar-container.sucesso {
  background: #4caf50 !important;
  color: #fff;
}

snack-bar-container.erro {
  background: #f44336 !important;
  color: #fff;
}

//tela com tamanho maximo de  1360px
@media (min-width: 1360px) {
  .imgUser {
    width: 7rem;
  }
  .a img{
    height: 100%;
  }

  .divLogo{
    bottom: .5rem;
  }
  .nomeLogo .mat-mdc-card-title{
    font-size: 2.5rem;
  }

}
.mat-form-simples {
  width: 60%;
  align-self: center;
}
