.container {
  min-height: 100vh;
}

.a{
  background-color: white;
}


.a img {
  max-width: 100%;
  height: auto;
}

.b{
  background-color: #969FFC;
}

.b {
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  justify-content: center;
  height: 100vh;

}


.bt{
  display: flex;
  justify-content: center;
  min-width: 100%;
  position: relative;
  bottom: 80px;
}

.bt button{
  background-color: #000 ;
  width: 100px;
  height: 40px;
}

.bt button:hover{
  background-color: white;
  color: #000;
}

.tituloLogin{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  position: relative;
  bottom: 90px;
}

.card-login-usuario{
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  gap: 1.5rem;
}

.mat-form-simples{
  width: 100%;
  position: relative;
  bottom: 70px;
}

.divLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 100px;
}

.nomeLogo .mat-mdc-card-title{
  font-size: 3.5rem;
}

.mat-mdc-card-title{
  font-size: 2rem;
}

.imgUser {
  display: flex;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 30%;
  position: relative;
  bottom: 80px;
}

.link{
  position: relative;
  bottom: 100px;
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}
