footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #402760;
  color: #ffffff;
}

.footer-content {
  justify-content: space-between;
  text-align: center;
}

.footer-content p {
  margin: 0;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}
