
* {
  background-color: #402760;
}
.menu {
  background-color: #402760;
  height: 5vh;
}

.btmenu{
  height: 100%;
  color: white !important;
  background-color: #402760 !important;
}

.btmenu:hover{
  background-color: #69419e  !important;
}

p{
  font-family: 'Homenaje-regular','Helvetica', sans-serif;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}

#loader {
  position: static;
  width: 100vw;
  overflow: hidden;
  height: 262px;
  left: 0px;
  top: 64px;
  }
#loader img {
  width: 100%;
  display: block;
}