<div class="body">

  <h1>Usuarios cadastrados</h1>

  <div fxLayout="row wrap"  fxLayout.lt-sm="column">
    <mat-card *ngFor="let usuario of usuarios" class="mat-card-simples">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>person</mat-icon>
          {{usuario.nome}}</mat-card-title>
        <mat-card-subtitle class="sub" *ngIf="usuario.cpf.length">CPF: {{usuario.cpf | cpf}}  Idade: {{usuario.idade}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Email: {{usuario.email}}</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['/editarUsuario', usuario.id]"> Editar</button>
        <button mat-button color="warn" (click)="excluir(usuario)">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
