.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
  margin-left: 10px;
  border: solid 2px red;
  margin: 10px;
}

.sub{
  color: black;
}

.icon{
  margin-left: 10px;
  margin-top: 12px;
}

.body{
  background-color: rgb(120 130 253);
  height: 100% ;
}

h1{
  text-align: center;
}
