// .mat-card-simples{
//   max-width: 300px;
//   background-color: aliceblue;
//   margin-top: 10px;
//   margin-left: 10px;
//   border: solid 2px red;
//   margin: 10px;
// }

// .sub{
//   color: black;
// }
// .icon{
//   margin-left: 10px;
//   margin-top: 12px;
// }

// #table {
//   background-color: #4b4a4a;
//   width: 60%;
// }
// ng-container {
//   color: #ffff;

// }
// .body{
//   background-color: #402760;
//   height: 100% ;
// }

h1{
  text-align: center;
}
#table {
  background-color: #4b4a4a;
  width: 70%;
  padding-left: 20%;
  padding-right: 20%;

}
.mat-header-cell {
  border-bottom: 2px solid #fff;
}
.mat-column-nome {
  color: #fff;
}
.mat-column-cpf {
  color: #fff;
}
.mat-column-idade {
  color: #fff;
}
.mat-column-acoes {
  color: #fff;
  }

div {
  background-color: #402760;
  max-height: 100%;
  width: 50%;
  align-items: center;
}

