/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 .snack-bar-container.success {
     background: #4caf50;
     color: #fff;
 }

 snack-bar-container.error {
     background: #f44336;
     color: #fff;
 }

 snack-bar-container.warning {
     background: #ff9800;
     color: #fff;
 }

 snack-bar-container.info {
     background: #2196f3;
     color: #fff;
 }




@font-face {
    font-family: 'Homenaje';
    src: url('../src/assets/fonts/Homenaje-Regular.ttf') format('ttf'),
}
