.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 20px;
  margin-left: 20px;
  border: solid red;
  margin: 10px;
}


.icon{
  margin-left: 10px;
  margin-top: 12px;
}
.container {
  min-height: 100vh;
  background-color: #969FFC;
}
.titulo {
  font-size: 40px;
  text-align: center;

}
#logo {
  margin: 20px 0 0  20px;
}
#addbtn {
  margin-left: 20px;
}
#mc {
  max-width: 100%;
  height: auto;
  margin-left: 50%;
}

