.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
  margin-left: 10px;
  border: solid 2px rgb(120 130 253);
}

.sub{
  color: black;
}

.icon{
  margin-left: 10px;
  margin-top: 12px;
}

