<div class="container" fxFlex="row">

  <app-menu></app-menu>
  <div class="addAtv">
    <button id="addbtn" mat-fab color="primary" (click)="openDialog(false)"><mat-icon>add</mat-icon></button>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start end">
    <mat-card  *ngFor="let atividade of atividades" class="mat-card-simples">
      <mat-card-header>
        <mat-card-title>
          {{atividade.atividade}}</mat-card-title>
        <!-- <mat-card-subtitle class="sub"></mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image>  -->
      <mat-card-content>
        Atividade: {{atividade.atividade}} <br>
        Distância: {{atividade.distancia}} <br>
        Duração: {{atividade.tempo}}

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="black"(click)="editar(atividade)"><mat-icon>create</mat-icon></button>
        <button mat-button color="warn" (click)="excluir(atividade)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <app-rodape></app-rodape>

</div>